# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache

.vscode/

**output/
docker-compose.build.*.yml
docker-compose.publish.*.yml
docker-compose.run.*.yml